<div class="container px-3">
  <div class="row">
    <h1>Bienvenido a la lista de tareas</h1>
    <p>Haz una lista con tus actividades pendientes escribiendolas en la barra inferior una a la vez y agregandolas con el botón Agregar.</p>
  </div>

  <div class="row mt-4">
    <form class="input-group" #formTarea="ngForm" (ngSubmit)="onSubmit(formTarea)">
      <input type="text" name="tarea" #tarea_="ngModel" [(ngModel)]="tarea.contenido" class="form-control mr-2" placeholder="Escribe aqui tu tarea" required/>
      <span class="input-group-btn">
        <input type="submit" value="Agregar" class="btn btn-primary" [disabled]="!formTarea.form.valid"/>
      </span>
    </form>
  </div>

  <div class="row mt-4">
    <h4>Tus tareas apareceran aqui: {{tarea.contenido}}</h4>
  </div>

  <div class="row mt-2 form-check">
    <ul class="list-group list-group-flush">
      <li *ngFor="let tarea_x of tareas" class="list-group-item">
        <input class="form-check-input" type="checkbox" [(ngModel)]="tarea_x.isChecked"/>
        <span [ngClass]="{'strike': tarea_x.isChecked}">{{tarea_x.contenido}}</span>
      </li>
    </ul>
  </div>
</div>